include ../mixins/nav


doctype html
html
    head
        title BLOG by STS
        link(rel="stylesheet" ,
         href="/css/styles.css")
    body
        .box
            .box__nav
                +nav
            .box__content
                block content
