extends ./layouts/main.pug
include ./mixins/portBox

block content
    .a_box
        .a_box__col-1
            .col-1__left
                .col-1__left__avatar
            .col-1__right
                table.a_table
                    tr.table__row
                        td.table__row__data NAME
                        td.table__row__data : SHIN TAE SUB
                    tr.table__row
                        td.table__row__data DEPT
                        td.table__row__data : 4LEAF SOFTWARE
                    tr.table__row
                        td.table__row__data E-MAIL
                        td.table__row__data : sts566311@gmail.com
                    tr.table__row
                        td.table__row__data MOBILE
                        td.table__row__data : 010-7759-5663
                    tr.table__row
                        td.table__row__data GIT
                        td.table__row__data : https://sts2003.github.io         

        .a_box__col-2
            +portBox
            +portBox
            +portBox
            +portBox
            