extends layouts/main.pug
include mixins/miniBoard

block content
    .h_box 
        .h_box__col-1
            .col-1__box-1 box1
            .col-1__box-2 box2
            .col-1__box-3 box3
        .h_box__col-2
            .col-2__sub-1
                .sub-1__title 최신 소식 +
                +miniBoard
            .col-2__sub-2
                .sub-2__title 이슈 +
                +miniBoard





