.a_box {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.a_box .a_box__col-1 {
  width: 1050px;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.a_box .a_box__col-2 {
  width: 1050px;
  height: 300px;
  display: flex;
  flex-direction: row;
  animation: initStart 2s forwards;
}

.a_box .a_box__col-1 .col-1__left {
  width: 350px;
  height: 300px;
}

.a_box .a_box__col-1 .col-1__left .col-1__left__avatar {
  width: 210px;
  height: 210px;
  background-image: url(../img/profile.jpg);
  border-radius: 50%;
  background-size: cover;
}

.a_table {
  margin-top: 15px;
  animation: initStart forwards 1s;
}

.a_table .table__row .table__row__data {
  padding: 10px 12px;
}
