.h_box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.h_box .h_box__col-1 {
  width: 1050px;
  height: 50vh;
}

.h_box .h_box__col-2 {
  width: 1050px;
  height: 50vh;

  display: flex;
  flex-direction: row;
}

.h_box .h_box__col-2 .col-2__sub-1 {
  width: 50%;
  height: 200px;
}

.h_box .h_box__col-2 .col-2__sub-2 {
  width: 50%;
  height: 200px;
}

.h_box__col-2 .col-2__sub-1 .sub-1__title,
.h_box__col-2 .col-2__sub-2 .sub-2__title {
  font-size: 20px;
  opacity: 0.6;
}
