mixin miniBoard(miniBoard = {})
    table.mini
        thead.mini__thead
            tr.thead__tr
                th.tr__th 제목
                th.tr__th 작성자
                th.tr__th 작성일
                th.tr__th 조회수
        tbody.mini__tbody
            tr
                td Dummy
                td Dummy
                td Dummy
                td Dummy
            tr
                td Dummy
                td Dummy
                td Dummy
                td Dummy
            tr
                td Dummy
                td Dummy
                td Dummy
                td Dummy
            tr
                td Dummy
                td Dummy
                td Dummy
                td Dummy            
