mixin nav(nav ={})
    ul.nav
        li.nav__items 
            a(href="/") HOME
        li.nav__items 
             a(href="/about") ABOUT
        li.nav__items 
            a(href="/post") POST
        li.nav__items 
            a(href="/etc") ETC